[submodule "scripts/pyblish"]
	path = scripts/pyblish
	url = https://github.com/pyblish/pyblish
[submodule "scripts/pyblish-base"]
	path = scripts/pyblish-base
	url = https://github.com/pyblish/pyblish-base
[submodule "scripts/pyblish-lite"]
	path = scripts/pyblish-lite
	url = https://github.com/pyblish/pyblish-lite
[submodule "scripts/pyblish-maya"]
	path = scripts/pyblish-maya
	url = https://github.com/ibai-omnidrone/pyblish-maya
