[submodule "scripts/pyblish"]
	path = scripts/pyblish
	url = https://github.com/pyblish/pyblish
[submodule "scripts/pyblish-base"]
	path = scripts/pyblish-base
	url = https://github.com/pyblish/pyblish-base
[submodule "scripts/pyblish-lite"]
	path = scripts/pyblish-lite
	url = https://github.com/pyblish/pyblish-lite
[submodule "scripts/pyblish-maya"]
	path = scripts/pyblish-maya
	url = https://github.com/ibai-omnidrone/pyblish-maya
[submodule "scripts/python-qt5"]
	path = scripts/python-qt5
	url = https://github.com/ibai-omnidrone/python-qt5.git
[submodule "scripts/pyblish-qml"]
	path = scripts/pyblish-qml
	url = https://github.com/ibai-omnidrone/pyblish-qml
